html {
    font-size: 12px;
}

body {
    background-color: black;
}

.main {
    margin: 10% auto;
    max-width: 750px;
}

.text {
    text-align: center;
    font-family: 'Courier New', monospace;
    color: white;
    font-size: 2em; 
}

.title {
    font-size: 5em; 
}

.excuse {
    font-size: 1em; 
}

.centred {
    text-align: center;
}

.big {
    font-size: 2em;
}
